body{
    margin: 0;
}
header{
    height: 15vh;
}
section{
    height: 85vh;
    display: flex;
}
.container-1{
    background: linear-gradient(0deg, #A5A5A3 0%, #A5A5A3 100%), linear-gradient(0deg, #979796 0%, #979796 100%), #979796;
    height: 100%;
    width: 50vw;
}
.container-2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
}
.box-1{
    height: 100%;
    background: #78786F;
}
.box-2{
    height: 100%;
    background: #4F504A;
}